/* Navbar.css */

/* Styling for the navbar brand */
.navbar-brand {
  font-family: 'Playfair Display', serif;
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #1e2125 !important;
  transition: color 0.3s ease;
}

.navbar-light .navbar-brand {
  color: #1e2125 !important;
}

.navbar-dark .navbar-brand {
  color: #fff !important;
}

/* Navbar background transition on scroll */
.navbar-light {
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.5s ease;
}

.navbar-dark {
  background-color: #343a40 !important;
  transition: background-color 0.5s ease;
}

/* Navbar links */
.nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #6c757d !important;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  position: relative;
}

.navbar-light .nav-link:hover {
  color: #1e2125 !important;
}

.navbar-dark .nav-link:hover {
  color: #f8f9fa !important;
}

/* Underline effect on hover */
.nav-link::after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background-color: #1e2125;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.navbar-light .nav-link:hover::after,
.navbar-dark .nav-link:hover::after {
  width: 100%;
}

/* Social media icons */
.nav-icon {
  color: #6c757d !important;
  font-size: 1.25rem;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.nav-icon:hover {
  color: #1e2125 !important;
}

/* Navbar toggler (hamburger) icon */
.navbar-toggler {
  border: none; /* Remove border */
}

/* Custom white icon for toggler */
.navbar-toggler-icon {
  background-color: transparent; /* Ensure no background */
  width: 30px; /* Width of the icon */
  height: 30px; /* Height of the icon */
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Space out the lines */
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  display: block;
  width: 30px; /* Width of each bar */
  height: 2px; /* Thickness of each bar */
  background-color: #fff; /* Set color to white */
}

.navbar-toggler-icon div {
  width: 30px; /* Width of the middle bar */
  height: 2px; /* Thickness of the middle bar */
  background-color: #fff; /* Set color to white */
}

/* Highlight the active nav link */
.nav-link.active {
  font-weight: bold;
  color: #ff9100 !important;
}

/* Media Queries for responsiveness */
@media (max-width: 991.98px) {
  .navbar {
    background-color: #343a40 !important;
  }

  .navbar-light .navbar-brand {
    color: white !important;
  }

  .navbar-dark .navbar-toggler-icon::before,
  .navbar-dark .navbar-toggler-icon::after {
    background-color: #fff !important; /* Keep toggler white in dark mode */
  }

  .navbar-light .navbar-toggler-icon::before,
  .navbar-light .navbar-toggler-icon::after {
    background-color: #fff !important; /* Keep toggler white in light mode */
  }

  .navbar-brand {
    color: #fff !important;
  }

  .nav-link {
    color: #f8f9fa !important;
  }
}
